<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=41471a13-0a9d-435b-a672-5283c78ab27a&lang=ru_RU" type="text/javascript"></script>
<!--  <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>-->
<!--  <script src="placemark_balloon_layout.js" type="text/javascript"></script>-->
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  <div class="container">
    {{> "geo-content.hbs"}}
  </div>
</body>
</html>
