body {
    font-family: 'Fira Sans', sans-serif;
    color: #4f4f4f;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
}
#map {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}

#feedbackPlaceholder {
    margin-left: 23px;
}
.modal {
    font-size: 13px;
    height: auto;
    width: 380px;
    background-color: white;
    border-radius: 10px;
}
.modal__header {
    width: 100%;
    background-color: #d1d362;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    position: relative;
    margin-bottom: 10px;
}
.modal__close {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.modal__close::before {
    content: '';
    position: absolute;
    display: block;
    background: #fff;
    width: 2px;
    height: 15px;
    top: 15px;
    right: 30px;
    transform: rotate(45deg);
  }
.modal__close::after {
    content: '';
    position: absolute;
    display: block;
    background: #fff;
    width: 2px;
    height: 15px;
    top: 15px;
    right: 30px;
    transform: rotate(-45deg);
  }
  
.modal__address {
    color: rebeccapurple;
    font-family: 'Fira Sans', sans-serif;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding-right: 5%;
    color: #fff;
}
.img__map {
    margin-right: 5px;
}
.modal__comments {
    margin: 5px 10px;
    width: 95%;
    height: 24%;
    overflow-y: scroll;
    font-size: 15px;
    min-height: 100px;
    max-height: 150px;
}
.modal__line {
    background-color: #f0f0f0;
}
.form__title {
    font-size: 12px;
    color: #595a00;
    text-transform: uppercase;
    margin: 10px 25px;
    font-weight: 400;
}
.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    width: 84%;
    margin-bottom: 10px;
    height: 35px;
    border-radius: 5%;
    box-shadow: none;
    padding-left: 10px;
    outline: none;
    font-size: 15px;
    font-weight: 300;
}
.form__text {
    border-radius: 5px;
    width: 80%;
    outline: none;
    padding: 10px;
    font-size: 11px;
    font-weight: 300;
}
.form__btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    height: 30px;
    width: 90px;
    background-color: #b2b445;
    color: white;
    border-radius: 20px;
    align-self: flex-end;
    margin: 25px;
    outline: none;
}
.modal__line {
    width: 95%;
    margin: 0 auto;
    background-color: #4f4f4f;
}