
#map {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: absolute;
}

#window_balloon {
  background: white;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  display: none;
  z-index: 1;
  position: absolute;
  font-family: Helvetica, sans-serif;
  transition: 0.3s;
}

#window__header {
  height: 12%;
  background-color: #fa7d4d;
  color: white;
  border-radius: 5px 5px 0 0;
  font-size: 12px;
}

#address {
  width: 80%;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
}

#button__close {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

#button__close::before {
  content: '';
  position: absolute;
  display: block;
  background: #fff;
  width: 2px;
  height: 15px;
  top: 15px;
  right: 30px;
  transform: rotate(45deg);
}
#button__close::after {
  content: '';
  position: absolute;
  display: block;
  background: #fff;
  width: 2px;
  height: 15px;
  top: 15px;
  right: 30px;
  transform: rotate(-45deg);
}


#comments {
  margin: 5px 10px;
  width: 95%;
  height: 24%;
  overflow-y: scroll;
  font-size: 15px;
}

#form__header {
  color: #fa7d4d;
  margin: 0 0 0 10px;
}

.input {
  margin: 5px 10px;
  padding: 5px;
  border-radius: 5px;
}

#input__text {
  border-radius: 5px;
}

#button__add {
  float: right;
  height: 30px;
  width: 90px;
  margin: 7px;
  border-radius: 5px;
  background-color: #fa7d4d;
  color: white;
  border: 0 solid white;
  cursor: pointer;
}

.ligth {
  color: #88837c;
}
